.fa, .fa-solid {
    color: #fff;
}

.full-modal .fixed.z-40.flex.items-end {
    align-items: center;
}

.tippy-touch { cursor: pointer !important; }

.basic-single {
    color: #000;
}

.basic-single .select__menu {
    z-index: 99;
}

.basic-single .select__menu-list {
    max-height: 230px;
    overflow-y: scroll;
}

.select__indicator.select__dropdown-indicator {
    color: #262626;
}

label.react-switch-selector-option-label {
    font-size: 13px;
}

div.react-switch-selector-wrapper,
div.react-switch-selector-wrapper::before,
div.react-switch-selector-option {
    border-radius: 6px;
}

.main-container {
    width: 100%;
}

.mobile-logo {
    font-family: 'Inter';
    font-weight: bold;
    color: #fff;
}

.leaflet-container.preview-map {
  flex: 1;
  height: 400px;;
	background-color: #111317;
	
}

.leaflet-container.fullscreen-map {
  flex: 1;
  height: 100vh;
	background-color: #111317;
	overflow: unset!important;
}

.leaflet-control-attribution {
	display: none;
}

.alpaca-sidebar {
	z-index: 600;
}

.logo-container {
	background: #1e2129;
}

.z-1000,
.fixed.z-40 {
    z-index: 1000!important;
}

@media (min-width: 1024px) {
	.map-icon {
		margin-top: 10rem;
	}
}

.map-icon {
	margin-top: 5rem;
	width: 10rem;
	opacity: 0.1;
}

.main-container.container {
	max-width: unset;
}

.create-map-container,
.welcome-container {
	max-width: 790px;
	width: 100%;
}

.pl-25 {
	padding-left: 7.5rem;
}

.layout_background {
		background-color: #000000;
		background-image:
			linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.45)),
			url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%235325a1' fill-opacity='0.25'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	width: 100%;
	color: #fff;
}

.welcome-container .flex svg {
	position: relative;
	top: -5px;
}

.map-card {
	width: 256px;
	height: 256px;
	background-color: transparent!important;
	background-repeat: no-repeat, no-repeat;
  background-position: top left, top 0px left 256px;
	/*box-shadow: inset 0 0 0 256px rgba(0,0,0,0.6);*/
	border: 1px solid #242424;
}

.map-card.populated > div {
	padding: 0!important;
}

.map-card:not(.populated):hover {
	border: 1px solid #464646;
}

.map-card-name {
	background: #000000c9;
}

.map-card-info {
	background: #0000009e;
	opacity: 0;
	transition: 0.3s;
}

.map-card.populated:hover .map-card-info {
	opacity: 1;
}

.map-card-name > div > div {
	max-width: 185px;
	overflow: hidden;
}

.ellipsis-button svg {
	height: 1.5rem;
	width: 1.5rem;
}

.tippy-tooltip.dark-theme {
  box-shadow: 0px 3px 9px 0px #000;
	padding: 0px!important;
	min-width: 200px;
}

.tippy-tooltip.light-theme {
  box-shadow: 0px 3px 9px 0px #000;
	padding: 0px!important;
	min-width: 100px;
	border: 1px solid #c7c7c7;
}

.options-tooltip-content-container {
	text-align: left;
}

.tooltip-option {
	cursor: pointer;
	padding: 0.5rem;
}

.tooltip-option:hover {
	background: #484848;
	transition: 150ms ease-in-out;
	
}

.tooltip-option:not(:first-child) {
	border-top: 1px solid #464646;
}

.icon-select-container .icon-select__control {
	--bg-opacity: 1;
  background-color: #707275;
  background-color: rgba(36, 38, 45, 1);
	border: 1px solid rgba(76, 79, 82, 1);
	color: #fff;
}
.icon-select-container .icon-select__single-value,
.icon-select__input,
.icon-select__input-container {
	color: rgba(213, 214, 215, 1)!important;
}

.peer:checked ~ .peer-checked\:text-white {
	color: rgba(255,255,255,1);
}

.peer:checked ~ .peer-checked\:font-bold {
	font-weight: 700;
}

.peer:checked ~ .peer-checked\:bg-blue-500 {
	background-color: rgb(126, 58, 242);
	border-radius: 0.25rem;
	transition: 0.3s;
}

.modal-wrapper {
	z-index: 1001;
}

.required::after {
	content: ' *';
	color: #f98080;
}

.leaflet-popup-content-wrapper button.marker-popup-button {
	color: #000;
	border-color: #c7c7c7;
	background: #fff;
}

.leaflet-tooltip-pane {
	z-index: 10000;
}

.mouse-tracker {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: white;
  padding: 2px 7px;
  border-radius: 3px;
  white-space: nowrap;
  visibility: hidden;
	z-index: 1000000;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.positioning-marker,
.positioning-marker div,
.positioning-marker button {
	cursor: crosshair!important;
}

.whitespace-nowrap {
	white-space: nowrap;
}

.fullscreen-map .leaflet-popup-content {
	margin: 0px;
}

.fullscreen-map .leaflet-popup-content .marker-popup-content-container,
.fullscreen-map .leaflet-popup-content .marker-popup-editor-controls-container {
	padding: 13px 19px 19px 19px;
	min-width: 200px;
}

.fullscreen-map .leaflet-popup-content-wrapper {
	background: #ebebebe0;
}

.fullscreen-map .leaflet-popup-content .marker-popup-content-container {
	background: #fff;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.fullscreen-map .leaflet-popup-content .marker-popup-editor-controls-container {
	border: 3px dashed #c1c1c1;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.leaflet-tooltip.map-label {
	padding: 3px 6px;
	border: 2px solid #fff;
	border-radius: 5px;
}

.color-picker-preview {
	width:15px;
	height:15px;
	border:1px solid black;
}

.map-label-preview {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px;
	padding: 3px 6px;
	border: 2px solid #fff;
	border-radius: 5px;
	overflow: hidden;
}

.map-label-preview > div {
	text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fullscreen-map button img,
.tippy-tooltip img {
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.hue-rotate-280 {
	filter: hue-rotate(280deg);
}

.map-search-control-container {
	margin-right: 1rem;
	transition: 0.5s;
	width:auto;
	position: relative;
}

.search-togglecard {
	min-width: 82px;
}

.map-search-control-container input {
	font-size: 26px;
}

.map-search-control {
	min-height: 82px;
}

.map-search-control > div {
	min-width: 300px;
	color: gray;
}

@media (min-width: 1024px) {
	.map-search-control {
		position: fixed;
		left: calc(100vw/2 - 64px);
	}
	.map-search-control > div {
		min-width: 400px;
		outline: 1px solid #ffffff38;
	}
}

.map-search-control-card {
	padding: 0!important;
}

.map-search-results-container > div:not(:first-child) {
	border-top: 1px solid #4c4f52;
}

.map-cards-container {
	max-width: 1250px;
}